@media screen {

/*------------------BODY------------------*/
body {
	font-family: "calibri", serif;
	font-size: 18px;
	color: #000;
	background-color: lightgray;
	padding: 0px 0px;
	line-height:normal;
	outline:outset;
	outline-color:#FFF;
	background-position:center left;
	background-attachment:fixed;
    }

/*------------------HEADER-------------------*/
header {
	height: 80px;
	background-position: center;
	background-repeat:no-repeat;
	background-color: #090913;
	width:100%;
	text-align: center;
	color: #CCC;
	font-size: 36px;
	font-family:"calibri", serif;
	outline: outset;
	outline-color:#FFF; 
       }

/*------------------MENU-------------------*/
	#nav {
    width: 100%; /* Αντί για 400vh */
    float: left;
    margin: 0;
    padding: 0;
    display: flex; /* Προσθέτουμε αυτό για καλύτερη στοίχιση */
    flex-wrap: wrap; /* Για να μην πλακώνονται σε μικρές οθόνες */
    border: 1px solid white;
    background: linear-gradient(to bottom, #b8c6df 46%,#6d88b7 78%);
}
    

#nav li, #nav li a {
    float:left;    }
    
#nav li {
    list-style: none;
    position: relative;}
    
#nav li a{
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family:"calibri", serif;
    background: #bce0ee;
    background: linear-gradient(to bottom,  #b8c6df 46%,#6d88b7 78%);
    border-right: 1 px solid #207cca;
    border-left: 1px solid #2ab0ed;
    border-bottom: 1px solid #232323;
    cursor: pointer;
    }
    
#nav li a:hover{
    background: #bce0ee;
    background: linear-gradient(to bottom,  #b8c6df 46%,#6d88b7 78%);
    }
    
#nav li ul {
    display: none;
    position: absolute;
    left: 0;
    padding: 0 ;
    margin: 0;
    top: 100%; 
    }
    
#nav li:hover > ul {
    display: block;
    }
    
#nav li ul li a{
    width: 100px;
    display:block;
    font-size: 15px;
    font-family:"calibri", serif;
    text-align: center;
    }
    

/*------------------MAIN-------------------*/
main {
    width:90%;
	line-height: 100%;
	min-height: 700px;
	background-color: lightgray;
	font-size: 15px;
	font-family: "calibri", serif;
	outline-color:#FFF;
    text-overflow: clip;
    text-align: center;
    text-indent: 80px;
    white-space: pre;
    }
    
   
/*------------------images-------------------*/     
.row {
  display: flex;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    }

.column {
    flex: 25%;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
}
    
    #pinakas {
        padding: 10px;
    }

/*------------------FOOTER -------------------*/

footer{
    width: 100%;
	clear: both;
	background-color: lightgray;
	height: 150px;
	color:#000;
	border-top: 1px solid gray;
	font-size: 15px;
	font-family: "calibri", serif;
    text-align: center;
	}


/* --- CLOCK ----------------------------------------------*/
.rol{
    width: 100%;
    height: 80px;
    background: black;
    color: #fff;
    position: relative;}
        
.container{
    max-width: 95%;
	width: 100%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #bce0ee;
    background: linear-gradient(to bottom,  #b8c6df 46%,#6d88b7 78%);
    border-right: 1 px solid #207cca;
    border-left: 1px solid #2ab0ed;
    border-bottom: 1px solid #232323;
    }

.roloi{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
.roloi span {
    font-size: 40px;
    width: 80px;
    display: inline-block;
    text-align: center;
    position: relative;
    }
    
.roloi span::after{
    content: ' ';
    font-size: 12px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%); 
    }
    
#wra::after{
    content: 'ΩΡΕΣ';
    }
    
#lepta::after{
    content: 'ΛΕΠΤΑ';
    }
    
#deyt::after{
    content: 'ΔΕΥΤΕΡΟΛΕΠΤΑ';
    }

    
/* --- form ----------------------------------------------*/
 
#form {
    max-width: 95%;
	width: 100%;
    margin: 2vh auto 0 auto;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    display: grid;  
    }
    
#form button {
    padding: 15px;
    width: 100%;
    color: white;
    background: linear-gradient(to bottom,  #b8c6df 46%,#6d88b7 78%);
    border: none;
    border-radius: column;
    font-size: 20px;
    cursor: pointer;
    }
    
.input{
    background: linear-gradient(to bottom,  #b8c6df 46%,#6d88b7 78%);
    display: grid;
    flex-direction: column;     
    }
    
.input input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    position: inherit;
    font-size: 12px;
    padding: 7px;
    width: 50%;
    transform: translateX(50%);
    }
    
.input input:focus{
    outline: 0;       
}
    
.input.success input {
    border-color:greenyellow;
    }
    
.input.error input {
    border-color: red;
    }
    
.input .error {
    color: red;
    font-size: 9px;
    height: 13px;
    }
    
div{
    width: 100%;
    background-color: black;
    text-align: center;
}


/* --- images ----------------------------------------------*/
 
.im{
    position: absolute;
    top: 128%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 600px;
    background: white;
    box-shadow: 0 30px 50px;
}

.im .slide .imag{
    width: 200px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 30px 50px;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.8s;
}

.slide .imag:nth-child(1),
    
.slide .imag:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .imag:nth-child(3){
    left: 60%;
}
.slide .imag:nth-child(4){
    left: calc(60% + 220px);
}
.slide .imag:nth-child(5){
    left: calc(60% + 440px);
}

.slide .imag:nth-child(6){
    left: calc(60% + 660px);
    opacity: 0;
}

.button{
    width: 0%;
    text-align: center;
    position:inherit;
    bottom: 30px;
}

.button button{
    width: 80px;
    height: 35px;
    cursor: pointer;
    top: 100%;
    transform: translate(1100%, -50%);
    }
   
/* --- PRINTER ----------------------------------------------*/

@media print {

#footer {
    display: none;
        }


#main {          
    padding: 2em;
    line-height: 130%;
    font-size: 11pt;}
}

@media screen and (max-width:850px) {

body {
	padding: 0;
	line-height:normal;
	outline:outset;
	outline-color:#FFF;
	background-color:#000;
	}

#main {
    margin-left: 0;
    border-left: none;
    padding: 1em;
    }
}

